{% extends '../master.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center text-uppercase text-success my-3">Nos offres de stage</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {% if request.user.account_type == "recruteur" %}
      <a class="text-decoration-none  text-uppercase " href="{% url 'Create Offre' %}">Créer une offre <i
          class="fas fa-plus-circle"></i></a>
      {%endif%}
    </div>
  </div>
  <div class="row d-flex justify-content-center ">
    {% for offre in offres %}
    <div class="col-sm-6 col-lg-3 shadow m-3 px-4 py-3 rounded-2">
      <h5 class="text-uppercase">{{offre.titre}} - {{offre.domaine}}</h5>
      <h6 class="text-success">{{offre.user.nom_entreprise}}</h6>
      <h6 class="text-muted">{{offre.date_publication}}</h6>
      <p class="text-secondary">{{offre.brief}}...</p>
      <div class="col"> <a class="text-decoration-none" href="/publications/offres/{{offre.id}}">Voir
          plus <i class="fas fa-caret-right"></i></a></div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}