{% extends '../master.html' %}
{% block title %}
<title>Liste des demandes</title>
{% endblock %}
{% block content %}
<div class="container">

  <div class="row">
    <h2 class="text-center text-uppercase text-success my-3">Liste des demandes de stage</h2>
  </div>
  <div class="row">
    <div class="col">
      {% if request.user.account_type == "student" %}
      <a class="text-decoration-none  text-uppercase " href="{% url 'Create Demande' %}">Créer une demande <i
          class="fas fa-plus-circle"></i></a>
      {%endif%}
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    {% for demande in demandes %}
    <div class="col-sm-6 col-lg-3 shadow m-3 px-4 py-3 rounded-2">
      <h5 class="text-uppercase">{{demande.titre}} - {{demande.domaine}}</h5>
      <h6 class="text-success"><a class="text-decoration-none"  href="{% url 'Etudiant' pk=demande.user.id%}">{{demande.user.first_name}} {{demande.user.last_name}}</a></h6>
      <h6 class="text-muted">{{demande.date_publication}}</h6>
      <p class="text-secondary">{{demande.brief}}...</p>
      <div class="col"> <a class="text-decoration-none" href="/publications/demandes/{{demande.id}}">Voir plus <i
            class="fas fa-caret-right"></i></a></div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}